<div id="app" data-current-user="<%=@current_user.to_json%>">
</div>

<div class="quiz-index-page">

  <div class="categories">
    <% @categories.each do |category| %>
    <li class="category-item"><%= link_to category.name.upcase, category_path(category) %></li>
    <% end %>
  </div>

  <h3 class="subtitle">Find and create your own flashcards</h3><br />
  <div class="right-side"><span class="button"><%= link_to "ADD NEW QUIZ", new_quiz_path %></span></div>

    <div class="quiz-mapping">

    <% @quizzes.each do |quiz| %>
      <ul class="quiz-card">

        <div class="quiz-image__index">
          <%= image_tag("/images/question.svg", :alt => "quiz") %>
        </div>
        <div class="quiz-card__info">
          <p class="quiz-card__title"><%= link_to quiz.name.upcase, quiz_path(quiz.id) %></p>
          <span class="quiz-card__cat">Category: <%= quiz.category.name %></span>
          <p class="quiz-card__desc"><%= quiz.description%></p>
        </div>
      </ul>
    <% end %>

    </div></br>
    <span class="button"><%= link_to "ADD NEW QUIZ", new_quiz_path %></span>
    <div class="pagination">
      <%= will_paginate @quizzes %>
    </div>
</div>
