<div id="app" data-current-user="<%=@current_user.to_json%>">
</div>

<div class="quiz-index-page">

  <div class="categories">
    <% @categories.each do |category| %>
    <li class="category-item"><%= link_to category.name.upcase, category_path(category) %></li>
    <% end %>
  </div>

  <div class="subtitle"><h3>Find and create your own flashcards</h3></div><br />
  
  <div class="buttons"><span class="button button-left"><%= link_to "ADD NEW QUIZ", new_quiz_path %></span></div>
  <div class="quiz-mapping">

    <% @quizzes.each do |quiz| %>
      <ul class="quiz-card">
        <%= link_to quiz_path(quiz.id) do %>
          <div class="quiz-image__index">
            <%= image_tag("/images/question.svg", :alt => "quiz") %>
          </div>
        <% end %>
        <div class="quiz-card__info">
          <span class="quiz-card__title"><%= link_to quiz.name.upcase, quiz_path(quiz.id) %></span></br>
          <span class="quiz-card__cat">Category: <%= quiz.category.name %></span>
          <p class="quiz-card__desc"><%= quiz.description%></p>
        </div>
      </ul>
    <% end %>

    </div></br>
    <div class="buttons"><span class="button button-left"><%= link_to "ADD NEW QUIZ", new_quiz_path %></span></div>
    <div class="pagination">
      <%= will_paginate @quizzes %>
    </div>
</div>
