<div id="app" data-current-user="<%=@current_user.to_json%>">
</div>


<div class="quiz-index-page">

  <div class="heading">
    <h1>Quizzes</h1>
  </div>

  <h3 class="index">Find and create your quizzes here</h3><br />
    <div class="button-group radius even-6">
      <% @categories.each do |category| %>
      <li class="button-warning"><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </div>
    <br />
    <ul class="button tiny info radius left"><%= link_to "Add New Quiz", new_quiz_path %></ul>
    <div class="quiz-mapping">
    <% @quizzes.each do |quiz| %>
    <ul class="quiz-card column small-5">
      <ul class="quiz-card-thumbnail"><%= quiz.quiz_picture %></ul>
      <ul class="quiz-card-title"><%= link_to quiz.name, quiz_path(quiz) %></ul>
      <ul class="quiz-card-desc">Description: <%= quiz.description.truncate_words(12)%></ul>
      <ul class="quiz-card-desc">Category: <%= quiz.category.name %></ul>
    </ul>
    <% end %>
    </div>
    <!-- <ul class="button small info radius"><%= link_to "Add New Quiz", new_quiz_path %></ul> -->
</div>

<div class="off-canvas-wrap pagination-centered">
  <%= will_paginate @quizzes %>
</div>
