<div id="app" data-current-user="<%=@current_user.to_json%>">
</div>

<div class="quiz-index-page">

  <div class="categories">
    <% @categories.each do |category| %>
    <li class="category-item"><%= link_to category.name, category_path(category) %></li>
    <% end %>
  </div>

  <h3 class="subtitle">Find and create your own flashcards</h3><br />
  <button class="button__add-quiz"><%= link_to "Add New Quiz", new_quiz_path %></button>

    <div class="quiz-mapping">

    <% @quizzes.each do |quiz| %>
      <ul class="quiz-card">

        <div class="quiz-image__index">
          <%= image_tag("/images/question.svg", :alt => "quiz") %>
        </div>
        <div class="quiz-card__info">
          <ul class="quiz-card__title"><%= link_to quiz.name, quiz_path(quiz.id) %></ul>
          <ul class="quiz-card__desc">Description: <%= quiz.description.truncate_words(12)%></ul>
          <ul class="quiz-card__desc">Category: <%= quiz.category.name %></ul>
        </div>
      </ul>
    <% end %>

    </div>
    <button class="button__add-quiz"><%= link_to "Add New Quiz", new_quiz_path %></button>
    <div class="pagination">
      <%= will_paginate @quizzes %>
    </div>
</div>
