<div class="panel index-tile">

  <h3>New Quiz Form</h3>
  <br />
  <% if @quiz.errors.any? %>
  <div id="error_explanation ">
    <h5><%= pluralize(@quiz.errors.count, "error") %>: please fill out all the fields first<h5>
        <% @quiz.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
        <% end %>
    </div>
    <% end %>
  <br />

  <%= form_for @quiz do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <p>
  <label for="index_quizzes_on_category_id">Category:</label><br />
    <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Select a Category" %>
    or create one:
    <%= f.text_field :new_category_name %>
  </p>

  <div class="field">
    <%= f.label :quiz_picture %><br />
    <%= f.file_field :quiz_picture, class: "button" %>
  </div>

  <br />
  <div class="actions">
    <%= f.submit "Add Questions to this Quiz", class: "button warning" %>
  </div>

  <% end %>

</div>
