<div class="quiz-show">
<h2><%= flash[:notice] %></h2>

<p>
  <h2 class="title-show"><%= @quiz.name %></h2>
  <%= @quiz.quiz_picture %>
  Description: <%= @quiz.description %><br/>
  Category: <%= @quiz.category.name %>
</p>

<br /><%= link_to "Take this Quiz", :back, class: "button warning right" %><br />
<br />
<%= link_to "Back", :back, class: "button primary" %>
</div>
