<div class="quiz-index-page">

<h2><%= flash[:notice] %></h2>
<h2 class="category-title"><%= @category.name %></h2>

<b class="category-title">Quizzes under this category:</b><br />
<div class="quiz-mapping">
  <% @category.quizzes.each do |quiz| %>
      <ul class="quiz-card">

        <div class="quiz-image__index">
          <%= image_tag("/images/question.svg", :alt => "quiz") %>
        </div>
        <div class="quiz-card__info">
          <span class="quiz-card__title"><%= link_to quiz.name.upcase, quiz_path(quiz.id) %></span></br>
          <span class="quiz-card__cat">Category: <%= quiz.category.name %></span>
          <p class="quiz-card__desc"><%= quiz.description%></p>
        </div>
      </ul>
    <% end %>


  </div>
</div>
