<!DOCTYPE html>
<html>
<head>
  <title>Quizzes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>
  <%= javascript_pack_tag 'application' %>

</head>

<body>
<header class="main-header">
  <div class="main-header__logo">
    <a href="/">.Quizzes</a>
  </div>
  <nav class="main-nav">
    <ul class="main-nav__items">
      <%- if  current_user -%>
      <!-- <li class="main-nav__item"><%= image_tag current_user.profile_photo.thumb if current_user.profile_photo.thumb.present? %></li> -->
      <li class="main-nav__item"><%= link_to current_user.username, edit_user_registration_path %></li>
      <li class="main-nav__item"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <%- else -%>
      <li class="main-nav__item"><%= link_to 'Sign Up', new_user_registration_path %></li>
      <li class="main-nav__item"><%= link_to 'Sign In', new_user_session_path %></li>
      <%- end -%>
    </ul>
  </nav>
</header>

<div class="flash">
  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

<%= yield :extra_footer %>

</div>

<footer class="main-footer">
  <nav>
    <ul class="main-footer__links">
      <li class="main-footer__link"><a href="#">michalina@jablonska.me</a></li>
      <li class="main-footer__link">*Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"  title="Flaticon">www.flaticon.com</a></li>
    </ul>
  </nav>
</footer>

</body>

</html>
